# Visual Studio
.vs/
*.sln
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user.*
*.vcxproj.props

# CMake-generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Build output folders
out/
build/
*/build/
*/out/

# Debug/Release (для VS и любых сборок)
Debug/
Release/
x64-Debug/
x64-Release/

# Intermediate object files and libs
*.obj
*.o
*.lib
*.a

# Executables and DLLs
*.exe
*.dll
*.so
*.dylib

# IDE & Editor
*.user
*.suo
*.sdf
*.cache
*.db
*.opendb
*.VC.db
*.VC.opendb
.idea/
*.code-workspace

# System
.DS_Store
Thumbs.db

# Logs/Temp
*.log
*.tmp
